{% extends '@ExtendedDump/base.html.twig' %}

{% block main %}
    <div class="version-{{ hash }}"><span class="v-{{ hash }}">X</span>dump <span class="v-{{ hash }}" title="eXtended Dump v{{ constant('Szczyglis\\ExtendedDumpBundle\\ExtendedDumpBundle::VERSION') }} build: {{ constant('Szczyglis\\ExtendedDumpBundle\\ExtendedDumpBundle::VERSION_BUILD') }}">v{{ constant('Szczyglis\\ExtendedDumpBundle\\ExtendedDumpBundle::VERSION') }}</span> <a href="https://github.com/szczyglis-dev/extended-dump-bundle" target="_blank" title="Go to GitHub project page">github</a></div>
    <div class="wrapper-{{ hash }}">
        {% for id, data in items %}
            {% if data|length > 0 %}
                {{ include('@ExtendedDump/_column.html.twig') }}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block trigger %}
    {{ include('@ExtendedDump/_trigger.html.twig') }}
{% endblock %}

{% block javascript %}
    {{ include('@ExtendedDump/_javascript.html.twig') }}
{% endblock %}

{% block css %}
    {{ include('@ExtendedDump/_css.html.twig') }}
{% endblock %}
